@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
	margin: 0;
	font-family: "PT Serif", serif;
	background-color: #EFEFEF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "PT Sans", sans-serif;
}
