.main {
	display: flex;
	margin: 2rem 0 0 0;
	padding: 0;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.welcome {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.welcome div {
	display: flex;
	justify-content: center;
}

.topwelcome {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.banned {
	display: flex;
	align-items: center;
}

.button {
	padding: 1rem;
    border-radius: 20px;
    font-weight: bold;
    background-color: #1976D1;
    color: #FFFFFF;
	cursor: pointer;
}

.transaction {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}