.navbar {
    position: sticky;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 0;
    background-color: #01723a;
    color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

.highlight {
    color: #BF3604;
}

.login {
    display: inherit;
    text-align: right;
    padding: 1rem;
    border-radius: 20px;
    font-weight: bold;
    background-color: #41d089;
}
